# -- Virtualenv
alias venv="python3 -m venv .venv"
alias vac="source .venv/bin/activate"

# -- Shortcuts
alias dot="cd ${HOME}/dotfiles"
alias pro="cd ${HOME}/projects"
alias play="cd ${HOME}/playgrounds"
alias books="code ${HOME}/books/"

# -- Network
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"

# -- Get week number
alias week='date +%V'

# -- Lock the screen
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

# -- Edit hosts folder
alias hosts="sudo ${EDITOR} /etc/hosts"

# -- Speedtest
alias speedtest="wget -O /dev/null http://speed.transip.nl/100mb.bin"

# -- Timestamped history command
alias history="fc -t "${HIST_FORMAT}" -il 1"

# -- Open Chrome
alias chrome="/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome"

# -- Reload terminal
alias reload="exec ${SHELL} -l"

# -- Print paths, aliases and functions
alias paths='echo -e ${PATH//:/\\n}'
alias aliases="alias | sed 's/=.*//'"
alias functions="declare -f | grep '^[a-z].* ()' | sed 's/{$//'"

# -- Generate id-rsa ssh-key
alias keygen='ssh-keygen -t rsa -b 4096 -f id_rsa_$(openssl rand -base64 500 | tr -dc 'a-zA-Z0-9' | fold -w 10 | head -n 1) -q -N ""'

# -- Docker aliases
alias dps='docker ps --format "table {{.ID}}\t{{.Image}}\t{{.Status}}\t{{.Names}}\t{{.Ports}}"'
alias dpsf="docker ps --format '{{ json .}}' | jq ."

# -- Best way to show all file sizes
alias du="ncdu --color dark -rr -x --exclude .git --exclude node_modules"

# -- K8s
alias k="kubectl"
alias g="gcloud"

# -- Git Aliases
# https://twitter.com/curioman2/status/1129046866455347206
# alias glog="\git log --color --all --date-order --decorate --dirstat=lines,cumulative --stat | sed 's/\([0-9] file[s]\? .*)$\)/\1\n_______\n-------/g' | \less -R"
alias glog="git log --oneline --decorate --graph --all"

# -- Add local changes
[ -f "${DOTFILES_PATH}/.aliases.local" ] && source "${DOTFILES_PATH}/.aliases.local"

# -- Using watch command with aliases
alias watch='watch '

# -- Place where we save important resources
alias notes="code ~/notes/README.md"

# -- lazydocker
alias lzd='lazydocker'
